What questions need to be asked of the user?
- User provides brief description of the project
- Enter a license
- What is your Github username
- What is your email address?
- What is the name of your project?
- Explain how to utilize the application

What does the output look like? (final readme.md file)
- we need a table of contents that links to

